* {

    margin: 0%;
    font-family: "Didact Gothic", sans-serif;
    font-size: 20px;
    text-align: center;


}

/*header */

.encabezado{
    
    background-color: white;
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.logo {
   
   width: 50px; 
  height: auto;}
    

/*nav}*/
.nav-index {
    display: flex;
    list-style-type: none; 
    justify-content: space-between;
}

.nav-index li{
    list-style: none;
    margin-left: 20px;
}
.nav-index li a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-weight: bold; 

}
.nav-link {
    margin-right: 10px;}

.nav-link {
    margin-right: 10px;}
    

/*main index*/

.main {
    background-color: #faebd780;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    padding-bottom: 20px;
    border-bottom: 1px solid #00000096;
   
}
.main h1{
    font-family: "Rowdies";
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 30px;
    color: chocolate;
        
    }

.art__index h2{
    font-family: "Rowdies";
    font-size: 25px;
    color: #ab6635;
}

.art__index li {
    list-style-type: circle;
}

.art__index img {
    height: 600px;
    padding-bottom: 10px;
    padding-top: 10px;

}

.img-index{
    width: 100%;
    padding-bottom: 40px;
}

.dropdown{
    padding-bottom: 20px;
   
}
.btn{
    background-color: #ab6635;
}

/*CARD CALENDARIO

.card-main{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    justify-content: space-evenly;} */

.card-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-left: 350px;
    padding-top: 30px;
}
.h1calendario{
    padding-top: 30px;
}
.card {
    background-color: hwb(39 53% 36%);
    width: 300px;
    border-radius: 15px;
    border: 1px solid hwb(0 0% 100% / 0.366);
}

.card p {
    text-align: center;

    
}
.card h2{
    font-size: 25px;
}


.card-img  {
    width: 250px;
    padding-left: 12px;
    padding-top: 5px;
    border-radius: 15px;
}

.card button {
    font-family: "Didact Gothic", sans-serif;
    background-color: #61e24da0;
    margin-bottom: 5px;
    border-radius: 5px;
}
.aside-calendario{
   text-align: center;
   padding-bottom: 20px;
   padding-top: 20px;
   
}
.aside-calendario h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
 }

/*destinos*/


.destinos h2{
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration-line: underline;
    font-size: 25px;
    font-family: "Rowdies";
    color: #ab6635;
}

.img-destino {
    height: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}


/*actividades*/
.actividades{
    padding-top: 10px;
    padding-bottom: 20px;
}
.actividades img {
    width: 400px;
    padding-top: 30px;
    padding-bottom: 20px;
    
}

.actividades h1{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 35px;
}
.actividades h2{
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration-line: underline;
    font-size: 25px;
}


/*contacto*/
.contacto{
    display: flex;
   flex-direction: column;

}

.contacto img{
    height: 150px;
}

.form-contacto{
    padding-bottom: 20px;
}

/*FAQ*/

.accordion-flush{
    padding-top: 30px;
}

/*footer*/

.footer {
    background-color:  #faebd76a;
    padding-top: 20px;
}

.footer__ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-content: flex-start;
    grid-area: ul-footer;
    
    
}

.footer__ul li a {
    color: #d2af7d;
    text-decoration: none;
    font-family: "Didact Gothic", sans-serif;
    
}

.footer li {
    list-style: none;
    display: inline-block;
}

.footer img{
    height: 150px;
}

.footer__img{
    grid-area: img-footer;
  
}
.footer__img img{
    height: 200px;
}
.footer__redes{
    grid-area: redes-footer;
}

.footer__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img-footer ul-footer redes-footer"
    ;
}   


/*MQ*/

@media (max-width:768px) {
    .encabezado{
        height: 80%;
        justify-content: flex-end;
        flex-wrap: wrap;
        display: flex;
       
    }
    .nav-index{
        display: flex;
        flex-direction: row;
    }
    /*index*/
    .art__index img{
        height: 400px;
    }
    /*destino*/
    .img-destino{
        height: 400px;
        
    }
    /*calendario*/
    .card-main{
        flex-direction: column;
        display: flex;
        align-content: flex-start;
    }
    /*FAQ*/
    .imgfaqq{
       
        display: flex;
        justify-content: center
    }

    .imgfaq{
        padding-top: 10px;
        padding-bottom: 30px;
        border-radius: 10px;
    }
    /*FOOTER*/
    .footer__img img{
        height: 150px;
    
}
}

@media (max-width:320px) {
    /*index*/
    .art__index img{
        height: 220px;
     }
    /*destinos*/
    .img-destino{
        height: 200px;
    }
    .maps{
        height: 220px;
        width: 280px;
    }
    .nav-index{
        display: flex;
        flex-direction: column;
    }

    /*actividades*/
    .actividades img{
        width: 280px;
    }
    /*faq*/
    .imgfaq{
        width: 280px;
    }
    .footer__img img{
        height: 100px;}
    .footer__redes{
        display: none;
    }

    /*calendario*/
    .card-main{
        flex-direction: column;
        display: flex;
        align-items: flex-end;
    }
    
}
