
$color-ul: #d2af7d;

$bck-footer: #faebd76a;  

$bck-btn: #61e24da0;

$bck-card: #a39987;

$font-princ: "Didact Gothic", sans-serif;

$size-princ: 20px;

$font-huno: "Rowdies";

$color-hdos: #ab6635;

$size-h: 25px;

$bck-main:#faebd780;


//maps
$padding:(
   chiquito:5px,
   chico: 10px,
   mediano: 15px,
   grande: 20px,
)



